

{% extends "app_shell.html" %} 

{% block title %}Students{% endblock %}

{% block content %}
  <div class="p-6 bg-gray-100 min-h-screen">
    <div class="max-w-4xl mx-auto">

      <div class="flex justify-between items-center mb-4">

        <a href="{% url 'students:list' %}" class="text-blue-600 hover:underline">&larr; Back</a>

        <div class="justify-end space-x-3">

          <a href="{% url 'students:edit' student.pk %}" class="bg-yellow-500 text-white px-4 py-2 rounded-md hover:bg-yellow-600"> ✏️ Edit </a>

          <form action="{% url 'students:delete' student.pk %}" method="POST" class="inline cursor-pointer" onsubmit="return confirm('Delete this class?');">
            {% csrf_token %}

            <button class="bg-red-600 text-white px-4 py-1.5 rounded-md hover:bg-red-700" type="submit">🗑️ Delete </button>

          </form>

        </div>

      </div>

      <div class="bg-white shadow rounded-2xl p-6 space-y-2">

        <h2 class="text-2xl font-bold text-gray-800 mb-6">{{ student.first_name }} {{ student.last_name }}</h2>

        <p class="text-gray-700"> <span class="font-semibold mr-3"> First Name:</span> <span>{{ student.first_name }}<span></p>

        <p class="text-gray-700"> <span class="font-semibold mr-3"> Last Name:</span> <span>{{ student.last_name }}</span></p>

        <p class="text-gray-700"> <span class="font-semibold mr-3"> Date Of Birth:</span> <span>{{ student.date_of_birth }}</span></p>

        <p class="text-gray-700"> <span class="font-semibold mr-3"> Gender:</span> <span>{{ student.gender }}</span></p>

        <p class="text-gray-700"> <span class="font-semibold mr-3"> Phone No:</span> <span>{{ student.phone_number }}</span></p>

        <p class="text-gray-700"> <span class="font-semibold mr-3"> Email:</span> <span>{{ student.email }}</span></p>

        <p class="text-gray-700"> <span class="font-semibold mr-3"> Current Class:</span> <span>{{ student.classroom}}</span></p>

        <p class="text-gray-700"> <span class="font-semibold mr-3"> Current student:</span> <span>{{ student.course }}</span></p>

      </div>

    </div>

  </div>
{% endblock %}
