{% extends "app_shell.html" %} 

{% block title %}Classes{% endblock %}

{% block content %}

  <div class="p-6 max-w-4xl mx-auto bg-white shadow-md rounded-xl">
    
    <div class="flex justify-between items-center m-4">

      <h2 class="text-2xl font-bold">All Classes</h2>

      <a href="{% url 'classrooms:add' %}" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700"> + Add Class </a>

    </div>

    <div class="">
      <table class="w-full bg-white m-1 table-auto">

        <thead class="bg-gray-100">
          <tr class="items-center table-row">

            <th class="px-6 py-3 text-left tracking-wider">Name</th>

            <th class="px-6 py-3 text-left tracking-wider">Code</th>

            <th class="px-4 py-2 text-right">Actions</th>

          </tr>
        </thead>

        <tbody class="divide-y divide-gray-100">

          {% for cls in classrooms %}

            <tr class="fitems-center table-row">

              <td class="px-6 py-4 whitespace-nowrap text-lef tracking-wider">{{ cls.name }}</td>

              <td class="px-6 py-4 whitespace-nowrap text-left tracking-wider">{{ cls.code }}</td>

              <td class="px-4 py-2 space-x-2 text-right">

                <a href="{% url 'classrooms:view' cls.pk %}" class="text-blue-600 hover:underline">View</a> |

                <a href="{% url 'classrooms:edit' cls.pk %}" class="text-yellow-600 hover:underline">Edit</a> |

                <form action="{% url 'classrooms:delete' cls.pk %}" method="POST" class="inline" onsubmit="return confirm('Delete this class?');">
                  {% csrf_token %}
                  <button class="text-red-600 hover:underline">Delete</button>
                </form>

              </td>

            </tr>

          {% empty %}

            <tr><td colspan="2" class="px-6 py-4 whitespace-nowrap text-gray-500">No classroom found.</td></tr>

          {% endfor %}

        </tbody>

      </table>
    </div>

  </div>
{% endblock %}
