{% extends "app_shell.html" %} 

{% block title %}Courses{% endblock %}

{% block content %}
  <div class="p-6 bg-gray-100 min-h-screen max-w-2xl mx-auto">

    <a href="{% url 'courses:list' %}" class="text-blue-600 hover:underline">&larr; Back</a>

    <div class="bg-white p-6 rounded-2xl shadow-md  mt-4">

      <h2 class="text-xl font-semibold text-gray-800 mb-4">Edit Course</h2>

      <form action="{% url 'courses:update' course.pk %}" method="POST" class="space-y-4">
        
        {% csrf_token %}

        <div>
          <label class="block text-sm text-gray-700">Name</label>
          <input type="text" name="name" value="{{ course.name }}" class="w-full rounded-md border-gray-300 focus:ring-blue-500 focus:border-blue-500" required>
        </div>

        <div>
          <label class="block text-sm text-gray-700">Code</label>
          <input type="text" name="code" value="{{ course.code }}" class="w-full rounded-md border-gray-300 focus:ring-blue-500 focus:border-blue-500" required>
        </div>

        <div class="py-4 flex justify-end">
          <button type="submit" class="bg-blue-600 text-white px-5 py-2 rounded-md hover:bg-blue-700">
            Update
          </button>
        </div>

      </form>

    </div>

  </div>
{% endblock %}
